# Pair programming variables - EJERCICIO 1

In [1]:
numero1 = 1

In [2]:
numero2 = 2

In [3]:
numero3 = 3

In [4]:
numero1 > numero2

False

In [6]:
numero1 < numero2 > numero3

False

In [7]:
numero3 == numero2

False

In [8]:
numero2 != numero1

True

In [9]:
altura1 = 1.50
altura2 = 1.60

In [11]:
altura1 + altura2

3.1

In [12]:
altura1 - altura2

-0.10000000000000009

In [13]:
altura1 % altura2

1.5

In [14]:
altura1 / altura2

0.9375

In [15]:
altura1 // altura2

0.0

In [17]:
type(altura1 // altura2)

float

In [21]:
round (altura1/altura2, 1)

0.9

In [1]:
nombre = "Ana"
apellido = "Perez Lopez"

In [26]:
print("¿Como te llamas?")
nombre_apellido = input()
print(nombre_apellido)

¿Como te llamas?
Laura Rodriguez

In [3]:
nombre_apellido.upper()

'LAURA RODRIGUEZ'

In [4]:
nombre_apellido.lower()

'laura rodriguez'

In [5]:
nombre_apellido.title()

'Laura Rodriguez'

In [7]:
nombre_apellido.capitalize()

'Laura rodriguez'

In [24]:
print("¿cuantos años tienes?")
años = input()
print(años)
#cuantos años teneis?

¿cuantos años tienes?
38

In [14]:
#tu nombre tiene A
A = input()
print(A)

si

In [18]:
#cuantas vocales tiene tu nombre?
print("¿cuantas A tiene tu nombre?")

¿cuantas A tiene tu nombre?

In [22]:
print("¿que necesitas comprar?")
lista_compra = input()
print(lista_compra)

¿que necesitas comprar?
peras, platanos, kiwis

In [69]:
print (lista_compra)
lista_compra1= lista_compra.split()
print (lista_compra1)
#lista_compra1 = "peras, platanos, kiwis"
lista_compra2 = "\n".join(lista_compra1)
print (lista_compra2)
#lista_compra2 = " " .join (lista_compra1)
#print(lista_compra2)
#lista_compra2= lista_compra1.split()
#print(lista_compra2)

peras, platanos, kiwis
['peras,', 'platanos,', 'kiwis']
peras,
platanos,
kiwis

# Pair programming Listas 1 - EJERCICIO 2

In [3]:
nombre_amigos=input("¿Como se llaman tus amigos?")
print(nombre_amigos)

In [8]:
nombre_amigos.split()

['Jony,', 'Silvia,', 'Alfonso']

In [16]:
altura_amigos = input("¿Cuanto miden tus amigos?")
print(altura_amigos)

1.50, 1.60, 1.70

In [22]:
lista_alturas = altura_amigos.split(",")
print(lista_alturas)

#split(): corta el elemento por donde yo quiero, antes salía error abajo por la coma, por tanto, si corto en la , no debería de haber problema.

['1.50', ' 1.60', ' 1.70']

In [30]:
lista_alturas = [float(i) for i in lista_alturas]
print(lista_alturas)
#conversión de string a float (texto a número decimal)

[1.7, 1.6, 1.5]

In [35]:
lista_altura1 = lista_alturas.copy()
lista_altura1.sort()
lista_altura1.sort(reverse=True)
print (lista_altura1)

#con método sort() sobreescribo por eso no tiene ningún sentido asignar de nuevo una variable. De ahí que Python pete y dé como resultado "None"

[1.7, 1.6, 1.5]

In [36]:
maxima = max(lista_altura1)
print(maxima)

1.7

In [37]:
minima = min(lista_altura1)
print(minima)

1.5

In [38]:
lista1 = [44, 55, 67, 44, 98, 29]
lista2 = [34, 56, 56, 78, 67, 56]

In [39]:
lista_lista = [lista1,lista2]
print(lista_lista)
#la coma (,) lo que hace es enlazar dos listas independientes a través de una coma: [a,b,],[b,c,c]

[[44, 55, 67, 44, 98, 29], [34, 56, 56, 78, 67, 56]]

In [53]:
lista_numeros = (lista1+lista2)
print(lista_numeros)
#el símbolo de suma (+) lo que hace es sumar/fusionar el contenido de ambas listas en una sola: [a,b,b,c,c]
#OJO! al sumar no mantenemos los [], sino que los cambiamos por ()

[44, 55, 67, 44, 98, 29, 34, 56, 56, 78, 67, 56]

In [54]:
lista_conteada1 =lista_lista.count(67)
print(lista_conteada1)
#Quizá da 0 porque toma en consideración el contenido dentro del primer corchete (?)
#y no llega al contenido de cada lista de forma individual?

0

In [55]:
lista_conteada2=lista_numeros.count(67)
print(lista_conteada2)
#Al haber eliminado los corchetes previos y haber fusionado ambas ya toma la lista como un todo y puede contar bien

2

In [56]:
print(lista_numeros.reverse())
##POR QUÉ
#Creo que he vuelto a sobreescribir algo y no sé el qué

None